body {
    color: #bdc1c6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
}

#navbar {
    font-size: 12px;
    color: #bdc1c6;
    width: auto;
    text-align: right;
}

#navbar a {
    color: #bdc1c6;
    text-decoration: none;
    margin: 5px;
}

#navbar a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}

.buttondiv {
    margin-top: 10px;
}

.buttondiv input {
    background: #3b3d44;
    color: #bdc1c6;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}

.searchdiv input {
    background: #202124;
    color: #bdc1c6;
    padding: 5px 15px;
    border: 1px solid #5f6368;
    border-radius: 999px;
    width: 400px;
    height: 30px;
}

